.footer-clean {
  padding:50px 0;
  color:#f8f9fa;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
hr {
  border: 1px solid aqua;
  margin: 1rem;
  opacity: .25;
}
.card {
  background-color: #2b2d30;
  color: #fff;
  margin-left: 9px;
}

::-webkit-scrollbar {
	width: 10px;
	color: #ffffff;
}

::-webkit-scrollbar-track {
	background: #212529;
}

::-webkit-scrollbar-thumb {
	background: #4856ee;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background: #3c48c5;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(219, 219, 219);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(219, 219, 219);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgb(219, 219, 219);
}


.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.feature-card {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 350px;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.feature-icon img {
    width: 50px;
    margin-bottom: 15px;
}

.feature-card h3 {
    margin: 10px 0;
    font-weight: 600;
    font-size: 24px;
}

.feature-card p {
    font-size: 16px;
    line-height: 1.5;
}

/* Responsivita */
@media (max-width: 768px) {
    .features-container {
        flex-direction: column;
        align-items: center;
    }
}
